.header {
    height: 85vh;
    /* background-color: #003847; */
    background-image: url('../../assets/ffflux.svg');
    display: flex;
    flex-wrap: wrap;

    .main-content {
        min-height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 15vw 5vh 15vw;
        /* background-image: url('../../assets/svg-shape.svg');
        background-repeat: no-repeat;
        background-position: center; */

        p {
            color: white;
        }
    }
}

img {
    display: flex;
    height: 13vh;
    width: auto; 
}
