.footer {
  min-height: 25vh; 
  background-color: #003847;
  text-align: left;
  padding-left: 5vw;
  
  ul {
    list-style-type: none;
    padding-top: 5vh;

    li {
      color: white;
      a {
        color: white;
      }
    }
  }
}