@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wdth@77.5&family=Source+Sans+Pro:wght@200;300;400;500;600&display=swap');

#root {
  max-width: auto;
  margin: 0 auto;
  text-align: center;
  background-color: white;
}
