@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wdth@77.5&family=Source+Sans+Pro:wght@200;300;400&display=swap');

#root {
  max-width: auto;
  margin: 0 auto;
  text-align: center;
}

.main-content {
  min-height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15vw;
}
