@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wdth@77.5&family=Source+Sans+Pro:wght@200;300;400;500;600&display=swap');

#root {
  max-width: auto;
  margin: 0 auto;
  text-align: center;
  background-color: white;
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8vh 15vw;
  min-height: 50vh;

  p {
      margin-bottom: 10px;
  }
}

.event-section {
  padding-right: 10vw;
  padding-left: 10vw;

  .title {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .card-wrapper {
    display: flex;
    
    :first-child {
      margin-left: 0;
    }
  }
}